<div class="">
    <div class="grid grid-cols-1 md:grid-cols-3 md:space-x-2 space-y-2 md:space-y-0 text-center items-center justify-center mt-6">
        <div class="bg-[#DAC5A7]/5 border border-[#DAC5A7] rounded-sm p-2 text-gray-300 w-44 flex justify-between">
            <div class="flex space-x-1">
                <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459753/assets/instagram-logo-light_pyjsbc.svg" alt="Instagram Logo">
                <a href="https://www.instagram.com/_raveloo" target="_blank">
                    <span class="text-zinc-300">Instagram</span>
                </a>
            </div>
    
            <img 
                src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459754/assets/arrow-up-right-light_dcpf3j.svg" 
                alt="Arrow Up"
            >
        </div>
    
        <div class="bg-[#DAC5A7]/5 border border-[#DAC5A7] rounded-sm p-2 text-gray-300 w-44 flex justify-between">
            <div class="flex space-x-1">
                <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459753/assets/instagram-logo-light_pyjsbc.svg" alt="Instagram Logo">
                <a href="https://www.instagram.com/_raveloo" target="_blank">
                    <span class="text-zinc-300">Instagram</span>
                </a>
            </div>
    
            <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459754/assets/arrow-up-right-light_dcpf3j.svg" alt="Arrow Up">
        </div>
    
        <div class="bg-[#DAC5A7]/5 border border-[#DAC5A7] rounded-sm p-2 text-gray-300 w-44 flex justify-between">
            <div class="flex space-x-1">
                <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459753/assets/instagram-logo-light_pyjsbc.svg" alt="Instagram Logo">
                <a href="https://www.instagram.com/_raveloo" target="_blank">
                    <span class="text-zinc-300">Instagram</span>
                </a>
            </div>
    
            <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459754/assets/arrow-up-right-light_dcpf3j.svg" alt="Arrow Up">
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:space-x-2 space-y-2 md:space-y-0 text-center items-center justify-center mt-2">
        <div class="bg-[#DAC5A7]/5 border border-[#DAC5A7] rounded-sm p-2 text-gray-300 w-44 flex justify-between">
            <div class="flex space-x-1">
                <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459753/assets/instagram-logo-light_pyjsbc.svg" alt="Instagram Logo">
                <a href="https://www.instagram.com/_raveloo" target="_blank">
                    <span class="text-zinc-300">Instagram</span>
                </a>
            </div>
    
            <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459754/assets/arrow-up-right-light_dcpf3j.svg" alt="Arrow Up">
        </div>
    
        <div class="bg-[#DAC5A7]/5 border border-[#DAC5A7] rounded-sm p-2 text-gray-300 w-44 flex justify-between">
            <div class="flex space-x-1">
                <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459753/assets/instagram-logo-light_pyjsbc.svg" alt="Instagram Logo">
                <a href="https://www.instagram.com/_raveloo" target="_blank">
                    <span class="text-zinc-300">Instagram</span>
                </a>
            </div>
    
            <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459754/assets/arrow-up-right-light_dcpf3j.svg" alt="Arrow Up">
        </div>
    
        <div class="bg-[#DAC5A7]/5 border border-[#DAC5A7] rounded-sm p-2 text-gray-300 w-44 flex justify-between">
            <div class="flex space-x-1">
                <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459753/assets/instagram-logo-light_pyjsbc.svg" alt="Instagram Logo">
                <a href="https://www.instagram.com/_raveloo" target="_blank">
                    <span class="text-zinc-300">Instagram</span>
                </a>
            </div>
    
            <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720459754/assets/arrow-up-right-light_dcpf3j.svg" alt="Arrow Up">
        </div>
    </div>
</div>