{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="flex flex-col items-center pt-10 space-y-8">
        <div class="flex flex-col space-y-3">
            <img 
                src="../../media/avatar/avatar2-bw.jpg" 
                alt="Ícaro Santos"
                class="rounded-full w-40"
            >
            <h2 class="text-3xl text-gray-300">Ícaro Santos</h2>
        </div>
        <div class="w-96">
            <p class="text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Eveniet porro autem cum vel amet possimus ad, maxime hic! 
                Nostrum veritatis, dicta perspiciatis facilis vel voluptatibus, 
                reiciendis nemo temporibus id quisquam, commodi dolorum?
            </p>
        </div>
    </section>
{% endblock %}