{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="flex flex-col items-center pt-20 space-y-8 w-full pb-2" id="home">
        {% for info in infos %}
            <div class="flex flex-col items-center justify-center text-center space-y-8">
                <div>
                    <img 
                        src="{{ info.avatar1 }}" 
                        alt="{{ info.name }}"
                        class="max-w-sm rounded-xl"	
                    >

                </div>
                
                <div class="flex flex-col text-center items-center justify-center mt-4 ml-10 space-y-4">
                    <h1 class="text-5xl text-[#DAC5A7] font-light tracking-widest role">{{ info.role }}</h1>
                    <p class="text-[#DAC5A7] text-base font-light leading-relaxed max-w-xl">{{ info.bio }}</p>
                </div>

                <div class="flex items-center justify-center space-x-3">
                    {% for stack in stacks %}
                        <img src="{{ stack.logo }}" alt="{{ stack.name }}" class="w-12 h-12 rounded-sm">
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
        <div class="pb-4">
            {% include 'home/workExperience.html' %}
        </div>

        <!-- TODO ADD LAST POST OF THE BLOG HERE -->
    </section>
{% endblock %}