{% block content %}
    <section id="work-experience" class="flex flex-col items-center space-y-10">
        <h1 class="text-3xl uppercase font-semibold tracking-widest">
            Experiência
        </h1>
        <div class="flex">
                {% for experience in experiences %}
                <div class="flex flex-col items-center text-center space-y-2 bg-[#DAC5A7]/5 p-6 rounded-lg">
                    <div class="flex items-center justify-center text-center">
                        <img 
                            src="{{ experience.logo }}" 
                            alt="{{ experience.name }}"
                            class="w-24 rounded-full"
                        >
                    </div>

                    <div class="space-y-2 text-[#DAC5A7]">
                        <h3 class="text-xl tracking-widest">{{ experience.name }}</h3>
                        <p class="text-xs tracking-wider">{{ experience.city }}, {{ experience.country }}</p>
                        <h4 class="text-base tracking-widest yuji pb-2">{{ experience.role }}</h4>
                        <p class="text-sm tracking-wider">2020 - 2022</p>
                    </div>

                    <div>
                        <p class="text-sm max-w-sm text-[#DAC5A7] tracking-wider leading-relaxed">
                            {{ experience.description }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
{% endblock content %}