{% extends 'base.html' %}

{% block content %}
    <section class="flex flex-col items-center pt-32 pb-10  ">
        <h1 class="text-3xl text-[#DAC5A7] font-semibold leading-tight tracking-widest">Políticas de Cookies</h1>
        <p class="flex items-center max-w-2xl text-start mt-4 text-zinc-300">
            Este site utiliza cookies para melhorar a experiência do usuário. <br> 
            Abaixo, explicamos o que são cookies, como os utilizamos e como você pode gerenciar suas preferências relacionadas a eles.
        </p>

        <div class="flex flex-col items-center text-start max-w-2xl mt-20 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">01. O que são Cookies?</h3>
            <p class="text-zinc-300">
                Cookies são pequenos arquivos de texto que são armazenados no seu dispositivo quando você visita um site. <br>
                Eles contêm informações sobre a sua interação com o site e podem ser usados para diversos fins, <br>
                como lembrar suas preferências, rastrear sua atividade e personalizar o conteúdo exibido.
            </p>
        </div>

        <div class="flex flex-col items-center text-center max-w-2xl mt-8 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">02. Como utilizamos cookies</h3>
            <div class="text-zinc-300 text-start">
                <ul class="flex flex-col items-center text-start">
                    <li>
                        <p>
                            <span>Cookies Essenciais:</span> Esses cookies são necessários para o funcionamento básico do site.
                            Eles permitem que você navegue pelas páginas, acesse áreas seguras e utilize os recursos essenciais.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>Cookies de Desempenho:</span> Esses cookies coletam informações sobre como os visitantes usam o site.
                            Eles nos ajudam a entender quais páginas são as mais populares, quais áreas precisam de melhorias e como otimizar a experiência do usuário.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>Cookies de Publicidade e Rastreamento:</span> Esses cookies são usados para exibir anúncios relevantes para você com base em seus interesses.
                            Eles também podem ser usados por terceiros para rastrear sua atividade em diferentes sites.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-col items-center text-start max-w-2xl mt-8 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                03. Gerenciando suas preferências de cookies
            </h3>
            <p class="text-zinc-300">Você pode controlar e gerenciar suas preferências de cookies através das configurações do seu navegador. Geralmente, você pode:</p>
            <ul class="text-zinc-300">
                <li>
                    <p>
                        - Aceitar ou recusar cookies individualmente.
                    </p>
                </li>
                <li>
                    <p>
                        - Configurar seu navegador para alertá-lo quando um cookie é enviado.
                    </p>
                </li>
                <li>
                    <p>
                        - Excluir cookies existentes do seu dispositivo.
                    </p>
                </li>
            </ul>
            <p class="text-zinc-300">
                Lembre-se de que desativar cookies pode afetar a funcionalidade de alguns recursos do site.
            </p>
        </div>

        <div class="flex flex-col items-center text-start mt-8 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                04. Alterações na Política de Cookies
            </h3>
            <p class="text-zinc-300">
                Reservamo-nos o direito de atualizar esta política de cookies conforme necessário. <br>
                Recomendamos que você verifique periodicamente para estar ciente de quaisquer alterações.
            </p>
        </div>
    </section>
{% endblock content %}