{% extends 'base.html' %}

{% block content %}
    <section class="flex flex-col items-center pt-32 pb-10  ">
        <h1 class="text-3xl text-[#DAC5A7] font-semibold leading-tight tracking-widest">Políticas de Privacidade</h1>

        <div class="flex flex-col items-center text-start max-w-2xl mt-20 space-y-4"">
            <h3 class="text-2xl text-[#DAC5A7]">01. Coleta de Dados Pessoais</h3>
            <ul class="text-zinc-300">
                <li>
                    <p>
                        Ícaro Alves coleta informações pessoais apenas quando você voluntariamente as fornece. <br>
                        Isso pode incluir seu nome, endereço de e-mail, informações de contato e detalhes sobre sua experiência profissional.
                    </p>
                    <p>
                        Esses dados são coletados com o objetivo de personalizar sua experiência no site e fornecer informações relevantes
                        sobre os projetos e serviços de Ícaro Alves.
                    </p>
                </li>
            </ul>
        </div>

        <div class="flex flex-col items-center max-w-2xl mt-8 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">02. Uso dos Dados</h3>
            <p class="text-zinc-300">
                Os dados pessoais coletados são usados exclusivamente para os seguintes fins:
            </p>
            <div class="text-zinc-300 text-start">
                <ul>
                    <li>
                        <p>
                            - Comunicar-se com você sobre projetos, atualizações e oportunidades de colaboração.
                        </p>
                    </li>
                    <li >
                        <p>
                            - Personalizar o conteúdo do site com base em suas preferências.
                        </p>
                    </li>
                    <li>
                        <p>
                            - Melhorar a qualidade e a relevância do conteúdo apresentado.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-col items-center text-start max-w-2xl mt-8 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                03. Compartilhamento de Dados
            </h3>
            <ul class="text-zinc-300">
                <li>
                    <p>
                        Ícaro Alves não compartilha seus dados pessoais com terceiros sem o seu consentimento expresso.
                    </p>
                </li>
                <li>
                    <p>
                        Os dados podem ser compartilhados com prestadores de serviços (por exemplo, hospedagem do site) apenas para fins operacionais.
                    </p>
                </li>
            </ul>
        </div>

        <div class="flex flex-col items-center text-start max-w-2xl mt-8 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                04. Cookies e Tecnologias de Rastreamento
            </h3>
            <ul class="text-zinc-300">
                <li>
                    <p>
                        Este site utiliza cookies e outras tecnologias de rastreamento para melhorar a experiência do usuário.
                    </p>
                </li>
                <li>
                    <p>
                        Você pode optar por desativar os cookies em seu navegador, mas isso pode afetar a funcionalidade do site.
                    </p>
                </li>
            </ul>
        </div>

        <div class="flex flex-col items-center text-start max-w-2xl mt-8 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                05. Segurança dos Dados
            </h3>
            <ul class="text-zinc-300">
                <li>
                    <p>
                        Ícaro Alves toma medidas para proteger seus dados pessoais contra acesso não autorizado, 
                        uso indevido ou divulgação.
                    </p>
                </li>
                <li>
                    <p>
                        No entanto, lembre-se de que a segurança na Internet não é infalível, e Ícaro Alves não pode garantir a segurança completa dos dados transmitidos online.
                    </p>
                </li>
            </ul>
        </div>

        <div class="flex flex-col items-center text-start max-w-2xl mt-8 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                06. Seus Direitos
            </h3>
            <ul class="text-zinc-300">
                <li>
                    <p>
                        Você tem o direito de acessar, corrigir ou excluir seus dados pessoais a qualquer momento.
                    </p>
                </li>
                <li>
                    <p>
                        Para exercer esses direitos ou fazer perguntas sobre esta política de privacidade, entre em contato 
                        com Ícaro Alves através da área de contato no site.
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock content %}