{% extends 'base.html' %}

{% block content %}
    <section class="flex flex-col items-center pt-32 pb-10">
        <h1 class="text-3xl text-[#DAC5A7] font-semibold leading-tight tracking-widest">Termos de Uso</h1>

        <div class="flex flex-col items-center text-start max-w-2xl mt-20 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">01. Introdução</h3>
            <p class="text-zinc-300">
                Bem-vindo(a) ao portfólio online de Ícaro Alves! 
                Estes termos de uso regem o acesso e uso deste site. <br>
                Ao navegar neste portfólio, você concorda com os seguintes termos e condições. <br>
                Se você não concorda com algum destes termos, por favor, não continue a usar este site.
            </p>
        </div>

        <div class="flex flex-col items-center text-center mt-20 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">02. Uso do Conteúdo</h3>
            <div class="text-zinc-300 text-start max-w-2xl">
                <ul class="flex flex-col items-center text-start">
                    <li>
                        <p>
                            Todo conteúdo apresentado neste portfólio, incluindo textos, imagens, gráficos <br>
                            e projetos, é de propriedade e responsabilidade de Ícaro Alves, salvo indicação em contrário.
                        </p>
                    </li>
                    <li>
                        <p>
                            Você pode visualizar, baixar e compartilhar o conteúdo para fins pessoais e não comerciais.
                        </p>
                    </li>
                    <li>
                        <p>
                            Qualquer uso comercial, reprodução ou redistribuição do conteúdo requer autorização prévia.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-col items-center text-start mt-20 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                03. Responsabilidades
            </h3>
            <div class="text-zinc-300 text-start max-w-2xl">
                <ul class="flex flex-col items-center text-start">
                    <li>
                        <p>
                            Ícaro Alves se esforça para manter o conteúdo deste portfólio preciso e atualizado. <br>
                            No entanto, não garantimos a precisão ou integridade das informações apresentadas.
                        </p>
                    </li>
                    <li>
                        <p>
                            O uso do conteúdo é por sua conta e risco. Ícaro Alves não será responsável por quaisquer <br>
                            danos diretos, indiretos, acidentais ou consequenciais decorrentes do uso deste portfólio.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-col items-center text-start mt-20 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                04. Links Externos
            </h3>
            <div class="text-zinc-300 text-start max-w-2xl">
                <ul>
                    <li>
                        <p>
                            Este portfólio pode conter linkes para sites externos. Ícaro Alves não endossa ou se <br>
                            responsabiliza pelo conteúdo dos sites.
                        </p>
                    </li>
                    <li>
                        <p>
                            Ao clicar em um link externo, você está sujeito aos termos e políticas do site vinculado.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-col items-center text-start mt-20 space-y-4">
            <h3 class="text-2xl text-[#DAC5A7]">
                05. Alterações nos Termos de Uso
            </h3>

            <div class="text-zinc-300 text-start max-w-2xl">
                <ul>
                    <li>
                        <p>
                            Ícaro Alves reserva-se o direito de modificar estes termos de uso a qualquer momento,
                            sem aviso prévio.
                        </p>
                    </li>
                    <li>
                        <p>
                            É responsabilidade do usuário revisar periodicamente os termos atualizados.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-col items-center text-start mt-20 space-y-4 max-w-2xl">
            <h3 class="text-2xl text-[#DAC5A7]">
                06. Contato
            </h3>
            <div class="text-zinc-300 text-start max-w-2xl">
                <p>
                    Se você tiver alguma dúvida ou preocupação sobre estes termos de uso, entre em contato com Ícaro Alves
                    através da área de contatos disponível neste site.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}