{% for category in categories %}
    <div class="w-96 rounded-xl bg-gray-800 shadow-xl">
        <div class="p-4 flex flex-col items-center mx-auto">
            <h2 
                class="card-title flex items-center text-center uppercase h-12 tracking-widest 
                    justify-center text-xl text-gray-300 mt-4 mb-6"
                >
                {{ category.title }}
            </h2>  
            <figure class="mt-2">
                <img 
                    src="{{ category.thumbnail }}" 
                    alt="{{ category.name }}" 
                    class="rounded-xl mx-auto"
                    style="width: 350px; height:350px;" 
                />
            </figure>
            <div class="card-body items-center text-center">
                <p class="text-gray-300 text-base uppercase tracking-wide h-20 leading-relaxed mt-6">{{ category.short_description }}</p>

                    <a href="{% url 'categoria' category.slug %}">
                        <button 
                            type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                            font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none 
                            dark:focus:ring-blue-800 mt-4"
                        >
                            Ver mais
                        </button>
                    </a>
            </div>
        </div>
    </div>
{% endfor %}