{% extends 'base.html' %}

{% block content %}
    <main class="flex flex-col items-center pt-10 space-y-6">
        <img src="https://res.cloudinary.com/dob53wkut/image/upload/v1720376212/assets/404-page-background.jpg" 
            alt="Background page"
        >
        <h1 class="text-3xl text-zinc-300 uppercase font-bold tracking-widest">404</h1>

        <p class="text-3xl text-zinc-300 uppercase font-bold tracking-widest">Página não encontrada :/</p>
        <p class="text-xl">
            <a href="{% url 'home' %}">
                Voltar para a página inicial!
            </a>
        </p>
    </main>
{% endblock content %}