<footer class="rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-300 sm:text-center">© 2024 
            <a href="{% url 'home' %}" class="hover:underline">Ícaro Alves™</a>. Todos os direitos reservados.
        </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-300 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Instagram</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Github</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">LinkedIn</a>
        </li>
        <li>
            <a href="{% url 'contatos' %}" class="hover:underline">Contatos</a>
        </li>
    </ul>
    </div>
</footer>
