{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ícaro Santos | Portfólio</title>
    {% include "scripts/daisyui.html" %}
    {% include "scripts/css.html" %}
</head>
<body class="bg-gray-900 ">
    {% include "nav/navbar.html" %}
    {% block content %}{% endblock content %}
    {% include "scripts/js.html" %}
    {% include "scripts/daisyscript.html" %}
    {% django_browser_reload_script %}
</body>
</html>