<div 
    id="certificateModal"
    class="fixed inset-0 bg-gray-900/50 bg-opacity-90 hidden items-center justify-end"
>
    <div class="bg-gray-900 rounded-lg overflow-hidden w-4/5 max-w-lg mx-auto">
        <div class="p-4">
            <button id="closeModal" class="float-right text-gray-300 hover:text-gray-300">
                &times;
            </button>
            <h2 id="modalSchoolName" class="text-center text-2xl font-semibold text-gray-300 mb-4">
            </h2>
            <img id="modalCertificateImage" 
                src="" 
                alt="Certificado" 
                class="w-full h-auto mx-auto rounded-lg"
            >
        </div>
    </div>
</div>