{% extends 'base.html' %}

{% block content %}
    <section id="school" class="flex flex-col items-center pt-24 space-y-8 w-full pb-10">
        <h1 class="text-4xl text-gray-300 uppercase font-bold tracking-widest">Formação</h1>
        <h3 class="text-xl text-gray-300 tracking-widest leading-relaxed">Aqui você poderá ver mais sobre a minha trajetória acadêmica!</h3>
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto">
            {% include 'school/schoolCard.html' %}
        </div>
    </section>
{% endblock %}
