<nav class="fixed justify-between items-center p-2 h-[80px] w-full">
    <div class="mx-auto flex max-w-[700px] bg-[#DAC5A7]/5 backdrop-blur-lg rounded-lg items-center justify-center space-x-32 md:space-x-44 py-2 md:px-6">
        <div class="flex">
            <a href="{% url 'home' %}">
                <span class="text-[#DAC5A7] text-3xl">icaro</span>
            </a>
        </div>

        <div class="p-2">
            <ul class="flex flex-row space-x-6 items-center text-[#DAC5A7] text-2xl font-semibold tracking-wide group">
                <li class="hover:text-zinc-300 transition duration-500">
                    <a href="{% url 'sobre' %}">
                        Sobre
                    </a>
                </li>
                <li class="hover:text-zinc-300 transition duration-500">
                    <a href="{% url 'educacao' %}">
                        Educação
                    </a>
                </li>
                <li class="hover:text-zinc-300 transition duration-500">
                    <a href="{% url 'portfolio' %}">
                        Portfólio
                    </a>
                </li>
            </ul>
        </div>

        <!-- <div>
            <ul class="flex items-center justify-center space-x-2 text-blue-800">
                <img src="" alt="" class="rounded-full cursor-pointer">
                <li>
                    <a href="{% url 'contato' %}">
                        Contato
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>